input, textarea {
  border: 1px solid rgba(0, 0, 0, 0.3)!important;
}
.oa_chapter_info {
    border: 1px solid black;
}
.oa_chapter_info td {
    border-bottom: 1px solid black;
    border-right: 1px solid rgba(200,200,200,0.5);
    white-space: nowrap;
}
.oa_chapter_info th {
    border-bottom: 1px solid black;
    border-right: 1px solid rgba(200,200,200,0.5);
    background: #fff;
    hyphens: none;
}

body, .entry-title, .easywp-nav-primary a {
    font-family: sans-serif !important;
}
